---
layout: layouts/page.njk
title: Comix
description:
accentColor: f74d50
backgroundcolor: dbdbdb
permalink: /comics/
eleventyNavigation:
  key: Comics
  order: 3
---

<div class="container">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper dapibus viverra. Etiam ac elementum neque. Mauris iaculis, nisl semper scelerisque congue, quam tellus varius ipsum, vel pulvinar ex orci eget lectus. Nunc venenatis, purus non malesuada posuere, nunc mi euismod tortor, aliquam sodales massa nulla ac nisi. Maecenas at eros pretium, vestibulum lacus id, commodo odio. Aliquam id rhoncus mi. Pellentesque condimentum consectetur dui nec vehicula. Cras a eros at neque faucibus pretium sed ac justo. Vivamus at placerat tortor. </p>
    
    <div class="paneled row horizontalcard">
      <div class="one-third column">
        <a href="https://victoriadouglas.itch.io/rockpunch"><img src="/img/logo/timelessobserver.jpg"/></a>
      </div>
      <div class="two-thirds column">
        <h4 style="margin-bottom:0px;">
                A Timeless Observer Percieved an Elevator (2024)
        </h4>
        <p >
                Ethereal musings of a minor diety, drawn exclusively to read at MS Harkness' wedding and DISTRACTOR. Might print it some day.
        </p>
      </div>
    </div>

    <div class="paneled row horizontalcard">
      <div class="one-third column">
        <a href="https://victoriadouglas.itch.io/rockpunch"><img src="/img/logo/contentcannon.jpg"/></a>
      </div>
      <div class="two-thirds column">
        <h4 style="margin-bottom:0px;">
                Content Cannon (2023)
        </h4>
        <p >
                My contribution to the rockstar all-women anthology POISON PILL. A wild ride through my disdain for social media.
        </p>
        
      </div>
    </div>

    <div class="paneled verticalcard">
        <a href="https://victoriadouglas.itch.io/rockpunch"><img src="/img/logo/bibliowarelogo.webp"/></a>
        <h4 style="margin-bottom:0px;">
                biblioware: comix to update ur phone to (2022)
        </h4>
        <p>
                The indulgent autobio anthology I'd always dreamt of making! Finally available to read online for the first time.
        </p>
    </div>

<div class="paneled row horizontalcard">
      <div class="one-third column">
        <a href="https://victoriadouglas.itch.io/rockpunch"><img src="/img/logo/templarlogo.jpg"/></a>
      </div>
      <div class="two-thirds column">
        <h4 style="margin-bottom:0px;">
                Templar Vitae (2021)
        </h4>
        <p >My comic for 2021's "24 Hour Comic Day". Executed at a pace of a page an hour, over 24 hours, with no prior plans. It's about as weird as that process would suggest. The day was a fever dream, the comic is a fever dream.</p>
      </div>
    </div>

  <div class="paneled row horizontalcard">
      <div class="one-third column">
        <a href="https://victoriadouglas.itch.io/rockpunch"><img src="/img/logo/robotlogo.jpg"/></a>
      </div>
      <div class="two-thirds column">
        <h2 style="margin-bottom:0px;">
                Roboto (2020)
        </h2>
        <p >
                Printed in Bonfire Comics' 2020 TOPIA anthology.
        </p>
      </div>
    </div>





<!--
        <h2 class="paneled" style="font-size:5rem; margin-bottom:50px;">a selection of their books:</h2>
<div class="row">
        <div class="one-half column">
                <img class="bookfloat" data-speed="1.5" src="/img/poisonpill.webp"/>
        </div>
        <div class="paneled one-half column">

                <h2 style="margin-bottom:0px;">poison pill (anthology)</h2>
                <h3>(black/white, 62 pages)</h3>
                <div class="">
                        <p>THE premiere all-women comics anthology from the best in the game. Led by the inimitable MS HARKESS, and featuring work from CAROLINE CASH, HEATHER LOASE, SAM SZABO, AUDRA STANG, and VICTORIA DOUGLAS. It's a goddamn treasure. </p>
                        <p> "Poison Pill is a mission statement, a concerted attempt at intimate and challenging storytelling, and a strong visual buffet of different styles." <br><br>- Rob Clough, HighLow Comics
                        </p>
                        <a class="button button-primary" href="https://victoriadouglas.bigcartel.com/product/poison-pill-anthology">Buy Here</a>
                </div>
        </div>
</div>


<div class="row">
        <div class="one-half column" data-speed="1.5" >

        <img class="bookfloat"  src="/img/bibliobook.webp"/>
        </div>

        <div class="paneled one-half column">

                <h2 style="margin-bottom:0px;">biblioware: comix to update ur phone to</h2>
                <h3>(black/white, 64 pages)</h3>
                <div class="">
                        <p> Disposable (non)fiction and collected shorts from an anxious millenial. Technological detritus, not an editor in sight. Anything and everything made it into this book, with no reservations.</p>
                        <p>Penis, boobies, religious trauma, fetish art, a first date with Shadow the Hedgehog, objective truths.</p>
                        <a class="button button-primary" href="#">Read Here maybe <3</a>
                </div>
        </div>
</div>


<div class="row">
        <div class="one-half column">
                <img class="bookfloat" data-speed="1.5" src="/img/cinnamonbook.webp"/>
        </div>
        <div class="paneled one-half column">
                <h2 style="margin-bottom:0px;">cinnamon (trade paperback)</h2>
                <h3>(Color, 108 pages)</h3>
                <div class="">
                        <p>Oh yeah, baby, it's the (REMMI-award winning) book that started it all. CINNAMON started as my final project in my senior year of undergrad. I'll go back and make more one day, I swear. I love that damn cat.</p>
                        <p>"Cinnamon is just your perfectly ordinary, average housecat. At least until we get a glimpse of the world through her eyes! Countertops become skyscrapers, cat toys become biker gangs, and perilous giant robots rampage on the daily! Get dropped kicked onto the action packed streets of Big Kitchen City, as she fights the dark forces that dare to keep her from her favorite treat... Catnip!"</p>
                        <p>Find this book out in the wild, it pops up from time to time. Link goes to Thriftbooks, but it's not currently in print.</p>
                        <a class="button button-primary" href="https://www.thriftbooks.com/w/cinnamon_victoria-douglas/29338531/#edition=60286117&idiq=47343912">Buy Here</a>
                </div>
        </div>
</div>
</div>
-->