@import "variables.scss";

/* Nav */
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.navlogo {
  padding: 10px;
}
.home {
  padding: 0 1rem;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: black;
  margin: 0.6rem 0; /* 16px /16 */
  font-size: 1.45em; /* 16px /16 */
  text-decoration: none;
}
.home :link:not(:hover) {
  text-decoration: none;
}
.home :hover {
  text-decoration: none;
  color: white;
  background-color: black;
  transition: 0.1s;
}
.navbar .logodiv {
  a {
    color: black;
    background: none;
  }
}

.navbar .logodiv {
  a:hover {
    background-color: black;
    color: white;
  }
}

.nav-item {
  text-decoration: none;
  display: inline-block;
  padding: 1rem 0.7rem;
  color: black;
  background: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: italic;
  text-transform: lowercase;
}

.nav-item:hover {
  color: white;
  background-color: black;
  transition: 0.2s;
}
.nav-item-active {
  text-decoration: none;
  color: white;
  background-color: black;
}

.nav-item-active:hover {
  background-color: #505050;
}

// Navbar responsiveness
.navbar .icon {
  display: none;
  color: black;
  background: none;
  padding: 0.5rem 0.7rem;
}

.navbar .icon:hover {
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: black;
  a {
    color: "white";
  }
}

.navstuff {
  padding-right: 30px;
}

@media screen and (max-width: 800px) {
  .navstuff {
    display: none;
  }
  .navbar a.icon {
    display: inline-block;
  }
}

@media screen and (max-width: 800px) {
  .navstuff.responsive {
    padding-bottom: 20px;
    background-color: white;
    margin-top: 50px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: absolute;
    display: inline-block;
    right: 20px;
  }
  .navstuff.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 30px;
  }
  .navstuff.responsive a {
    float: none;
    padding-left: 100px;
    padding-bottom: 10px;
    padding-right: 20px;
    display: block;
    text-align: right;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
}

/*Custom Scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $base-text;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*Vanta Background*/

#vanta-background {
  position: fixed;
  width: 100%;
  height: 120%;
  z-index: -100;
}

/* Logo Titles*/
.logotitle {
  max-width: 100%;
  width: 1200px;
  margin: 0 auto;
  display: block;
}

/*Font Awesome*/

.fa,
.fas {
  font-size: 2rem;
}

/*Manga Panels*/

.mangapage {
  margin-top: 10px;
  margin-bottom: 20px;
  display: grid;
  grid-gap: 10px;
  img {
    display: block;
    width: 100%;
  }
  div {
    min-height: 100px;
  }
}

.mangapaper {
  background-color: rgba(234, 234, 234, 0.95);
}

.mangacontent {
  h1 {
    margin: 0;
  }
  padding: 20px;
}

.datedisplay {
  padding: 0;
  margin: 0;
}

.mangapad {
  padding: 20px;
}

.mangapanel {
  border: 3px solid black;
  margin-top: 20px;
  img {
    display: block;
  }
}
.mangahalftone {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAF0lEQVQYlWNgYGD4D8U4AUEF1Af0dhMAOBcH+bmFHC0AAAAASUVORK5CYII=);
}

/*Masonry Grid*/

.grid {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  .grid-col {
    flex: 1;
  }
  img {
    width: 100%;
    padding: 10px;
  }
}

.grid-col--2,
.grid-col--3 {
  display: none;
}

@media (min-width: 768px) {
  .grid-col--2 {
    display: block;
  }
  .grid-col--3 {
    display: none;
  }
}

@media (min-width: 1080px) {
  .grid-col--2 {
    display: block;
  }
  .grid-col--3 {
    display: block;
  }
}

/*Comics Nav*/

.comicnav {
  padding: 20px 0;
  margin: 10px auto;
  position: relative;
  width: 960px;
  max-width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  a {
    background: none;
  }
  img {
    max-height: 100px;
  }
  div {
    align-items: center;
  }
}

.minicomicnav {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;

  select {
    width: 200px;
    max-width: 90vw;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

/* Footer */

.footerseating {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.footer {
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100vw;
  min-height: 100px;
  background-color: #282828;
  h1,
  h2,
  h3,
  i,
  p {
    color: #f0f0f0;
    padding: 1rem;
  }
}

.socialjunk {
  padding: 0.9rem;
  p {
    text-align: right;
  }
  a {
    height: auto;
    min-height: 20px;
    text-decoration: none;
    background: none;
    i {
      color: #f0f0f0;
      padding: 1rem;
      font-size: 1.5rem;
      display: inline-block;
    }
  }
}

.footergrid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
}

@media screen and (min-width: 800px) {
  .footergrid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .socialjunk {
    margin: 0 auto;
  }
}

/* News Banner Widget */

.newscta {
  background: none;
  opacity: 1;
  transition: 0.2s;
  img {
    margin-top: 50px;
    border: 3px solid black;
    transition: 0.2s;
  }
}

.newscta:hover {
  background: none;
  opacity: 0.7;
  transition: 0.2s;
}

/* Index Styling */

.blogsect {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

/*Disqus Styling*/
#disqus_thread {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 150px;
}
