@import "variables.scss";
@font-face {
  font-family: "Font-awesome";
  src: url("/fonts/fa-solid-900.ttf") format("ttf");
  src: url("/fonts/fa-regualr-400.ttf") format("ttf");
}

/*Typography Treatments*/

body {
  background-position: center top;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: scroll;
  transition: 0.2sec;
}

.signature {
  position: fixed;
  padding: 5px;
  transform-origin: left;
  transform: rotate(-90deg);
  bottom: 4vh;
  left: 2vw;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.4);
}

.svgaccent {
  display: none;
}

@media only screen and (min-width: 1050px) {
  .svgaccent {
    display: block;
    position: fixed;
    bottom: 4vh;
    right: 2vw;
  }
}

.flavortext {
  border-bottom: 5px double black;
  width: 50%;
  font-style: italic;
  line-height: 0.5 rem;
}

main {
  width: 960px;
  max-width: 95vw;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}

a {
  color: white;
  background-color: black;
  text-transform: uppercase;
}

a:hover {
  background-color: #505050;
}

$halftone: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHElEQVQYV2NUVFT8f//+fUYGBgYGMAEDcA5IBQCKJQVmn76DhAAAAABJRU5ErkJggg==");

@mixin stroke-width($property) {
  -webkit-text-stroke-width: $property;
  -moz-text-stroke-width: $property;
}

@mixin stroke-color($property) {
  -webkit-text-stroke-color: $property;
  -moz-text-stroke-color: $property;
}

@mixin background-clip($property) {
  -webkit-background-clip: $property;
  -moz-background-clip: $property;
  background-clip: $property;
}

@mixin fill-color($property) {
  -webkit-text-fill-color: $property;
  -moz-text-fill-color: $property;
}

.heading {
  font-size: 12vw;
  margin-top: 3vw;
  line-height: 10vw;
  border-top: 10px double black;
  margin-bottom: 0;
  letter-spacing: -0.5vw;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAF0lEQVQYlWNgYGD4D8U4AUEF1Af0dhMAOBcH+bmFHC0AAAAASUVORK5CYII=);
}

.comicpage {
  width: 100%;
}
