@import "variables.scss";
@font-face {
  font-family: "Font-awesome";
  src: url("/fonts/fa-solid-900.ttf") format("ttf");
  src: url("/fonts/fa-regualr-400.ttf") format("ttf");
}

/* -------------------- Typography Treatments -------------------- */

@font-face {
  font-family: "Blackout";
  src: url("/webfonts/blackout_midnight-webfont.ttf");
}
@font-face {
  font-family: "Antihuman";
  src: url("/webfonts/RSAnti-Human-ITALIC.otf");
}

h1 {
  font-family: Roboto Mono, Arial, Helvetica, sans-serif;
  font-weight: 900;
}

h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: "Roboto Mono", monospace;
}

body {
  background-position: center bottom;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: 0.2sec;
}

a {
  color: $background-color;
  background-color: $line-color;
  text-transform: uppercase;
}

a:hover {
  background-color: $dark-grey;
}

$halftone: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHElEQVQYV2NUVFT8f//+fUYGBgYGMAEDcA5IBQCKJQVmn76DhAAAAABJRU5ErkJggg==");

@mixin stroke-width($property) {
  -webkit-text-stroke-width: $property;
  -moz-text-stroke-width: $property;
}

@mixin stroke-color($property) {
  -webkit-text-stroke-color: $property;
  -moz-text-stroke-color: $property;
}

@mixin background-clip($property) {
  -webkit-background-clip: $property;
  -moz-background-clip: $property;
  background-clip: $property;
}

@mixin fill-color($property) {
  -webkit-text-fill-color: $property;
  -moz-text-fill-color: $property;
}

.heading {
  font-family: Antihuman, arial, sans-serif;
  letter-spacing: 1vw;
  font-weight: 100;
  font-size: 11vw;
  margin-top: 3vw;
  line-height: 70%;
  margin-bottom: 0;
  background: none;
}

@media (min-width: 700px) {
  .heading {
    letter-spacing: auto;
    font-size: 8vw;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAF0lEQVQYlWNgYGD4D8U4AUEF1Af0dhMAOBcH+bmFHC0AAAAASUVORK5CYII=);
  }
}
@media (min-width: 1100px) {
  .heading {
    font-size: 13vw;
  }
}

/* -------------------- Page Accents -------------------- */

.signature {
  display: none;
}

.svgaccent {
  display: none;
  z-index: -5;
}

@media only screen and (min-width: 1050px) {
  .svgaccent {
    display: block;
    position: fixed;
    bottom: 40%;
    right: 2vw;
  }

  .signature {
    display: block;
    position: fixed;
    padding: 5px;
    transform-origin: left;
    transform: rotate(-90deg);
    bottom: 40%;
    left: 1.5vw;
    margin: 0;
    background-color: $translucent-grey;
    z-index: -5;
  }
}

.subtitle {
  border-bottom: 5px double $line-color;
  width: 100%;
  font-style: italic;
  line-height: 0.5rem;
}

/* -------------------- Page Layouts -------------------- */

main {
  min-height: 70vh;
  max-width: 98vw;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}

.container {
  width: 960px;
  max-width: 95vw;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}

.comicpage {
  width: 1200px;
  max-width: 98vw;
  margin: 50px auto;
}

.bigcontainer {
  max-width: 95vw;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}

.fullcontainer {
  width: 95;
  max-width: 98vw;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}
.datedisplay {
  padding: 0;
  margin: 0;
}

/* -------------------- Index Styling -------------------- */

.blogsect {
  display: grid;
  max-width: 95vw;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}
