@import "variables.scss";
@font-face {
  font-family: "Font-awesome";
  src: url("/fonts/fa-solid-900.ttf") format("ttf");
  src: url("/fonts/fa-regualr-400.ttf") format("ttf");
}

/* -------------------- Typography Treatments -------------------- */

@font-face {
  font-family: "Blackout";
  src: url("/webfonts/blackout_midnight-webfont.ttf");
}
@font-face {
  font-family: "Antihuman";
  src: url("/webfonts/RSAnti-Human-ITALIC.otf");
}

@font-face {
  font-family: "Geist-RND";
  src: url("/webfonts/GEIST_RND-webfont.woff");
}

@font-face {
  font-family: "Jersey15";
  src: url("/webfonts/Jersey15-Regular.ttf");
}

@font-face {
  font-family: "IBM BIOS";
  src: url("/webfonts/Px437_IBM_BIOS.ttf");
}

@font-face {
  font-family: "IBM BIOS-2X";
  src: url("/webfonts/Px437_IBM_BIOS-2X.ttf");
}

@font-face {
  font-family: "IBM BIOS-2Y";
  src: url("/webfonts/Px437_IBM_BIOS-2Y.ttf");
}

@font-face {
  font-family: "IBM Model30";
  src: url("/webfonts/Px437_IBM_Model30r0.ttf");
}
Px437_IBM_Model30r0

p {
  font-size: 1.6rem;
}

h1 {
  font-family: "Jersey15", sans-serif;
  font-size: 12rem;
  color: white;
  -webkit-text-stroke-width: 1rem;
  -webkit-text-stroke-color: black;
  paint-order: stroke fill;
  filter: drop-shadow(0.8rem 0.8rem 0px #000000);
  margin-bottom: 0;
  line-height: 10rem;
  padding-bottom: 30px;
}

.h1Panel {
  background-color: $accent-two;
  display: block;
  width: 100vw;
padding-top: 20vh;
  border-radius: 10px;
  margin-bottom: 40px;
}

h2 {
  font-family: "Jersey15", sans-serif;
  font-size: 5rem;
  letter-spacing: auto;
  line-height: 4rem;
  padding-bottom: 0;
  margin-bottom: 10px;
}

h3 {
  font-family: "IBM BIOS", system-ui;
  font-size: 2rem;
}

h4 {
  font-family: "Roboto Mono", monospace;
  font-weight: 900;
}

p {
  font-family: "Roboto Mono", monospace;
}

body {
  background-position: center bottom;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: 0.2sec;
}

a {
  text-decoration: none;
  color: #222222;
  background-color: #bababa;
  font-family: "Kode Mono", monospace;
  font-weight: 700;
}

a:hover {
  background-color: $dark-grey solid;
}

$halftone: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHElEQVQYV2NUVFT8f//+fUYGBgYGMAEDcA5IBQCKJQVmn76DhAAAAABJRU5ErkJggg==");

@mixin stroke-width($property) {
  -webkit-text-stroke-width: $property;
  -moz-text-stroke-width: $property;
}

@mixin stroke-color($property) {
  -webkit-text-stroke-color: $property;
  -moz-text-stroke-color: $property;
}

@mixin background-clip($property) {
  -webkit-background-clip: $property;
  -moz-background-clip: $property;
  background-clip: $property;
}

@mixin fill-color($property) {
  -webkit-text-fill-color: $property;
  -moz-text-fill-color: $property;
}

.heading {
  font-family: Antihuman, arial, sans-serif;
  letter-spacing: 1vw;
  font-weight: 100;
  font-size: 11vw;
  margin-top: 3vw;
  line-height: 70%;
  margin-bottom: 0;
  background: none;
}

@media (min-width: 700px) {
  .heading {
    letter-spacing: 1rem;
    font-size: 8vw;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAF0lEQVQYlWNgYGD4D8U4AUEF1Af0dhMAOBcH+bmFHC0AAAAASUVORK5CYII=);
  }
}
@media (min-width: 1100px) {
  .heading {
    font-size: 13vw;
  }
}

/* -------------------- Page Accents -------------------- */

.signature {
  display: none;
}

.svgaccent {
  display: none;
  z-index: -5;
}

@media only screen and (min-width: 1050px) {
  .svgaccent {
    display: block;
    position: fixed;
    bottom: 40%;
    right: 2vw;
  }

  .signature {
    display: block;
    position: fixed;
    padding: 5px;
    transform-origin: left;
    transform: rotate(-90deg);
    bottom: 40%;
    left: 1.5vw;
    margin: 0;
    background-color: $translucent-grey;
    z-index: -5;
  }
}

.subtitle {
  border-bottom: 5px double $line-color;
  width: 100%;
  height: auto;
  margin: 30px auto 50px;
  margin-bottom: 0 auto 50px;
  font-style: italic;
  line-height: 0.5rem;
  p {
    padding-bottom: 0px;
  }
}

/* -------------------- Page Layouts -------------------- */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

main {
  min-height: 70vh;
  max-width: 98vw;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}

.comicpage {
  width:1000px;
  max-width: 95vw;
  margin: 0 auto;
}

.bigcontainer {
  max-width: 90vw;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}

.fullcontainer {
  max-width: 85vw;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}
.datedisplay {
  padding: 0;
  margin: 0;
}
.imagecard {
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
}

/* -------------------- Button Styling -------------------- */
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-1 {
  border: 3px solid $line-color;
  color: $line-color;
}

.btn-1e {
  overflow: hidden;
}

.btn-1e:after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: $line-color;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-1e:hover,
.btn-1e:active {
  color: white;
}

.btn-1e:hover:after {
  height: 260%;
  opacity: 1;
}

.btn-1e:active:after {
  height: 400%;
  opacity: 1;
}

/* -------------------- Index Styling -------------------- */

.blogsect {
  margin-top: 50px;
  display: grid;
  max-width: 95vw;
  grid-gap: 20px;
  grid-template-areas: "two" "one";
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  h1 {
    padding: 0;
    margin: 10px;
  }
  :nth-child(1) {
    grid-area: one;
  }
  :nth-child(2) {
    grid-area: two;
  }
  :nth-child(3) {
    grid-area: two;
  }
}

.animsect {
  margin: 0px auto;
  margin-top: 50px;
  display: grid;
  max-width: 95vw;
  grid-gap: 20px;
  grid-template-areas: "two" "one" "three";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  div:first-child {
    border: 3px solid $line-color;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
  }
  div:last-child {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAF0lEQVQYlWNgYGD4D8U4AUEF1Af0dhMAOBcH+bmFHC0AAAAASUVORK5CYII=);
    background-size: 10px;
    height: 100px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    h1 {
      padding-left: 10px;
      color: $line-color;
    }
    h1:hover {
      color: white;
      background-color: $line-color;
      transition: 0.3s;
    }
  }
  h1 {
    padding: 0;
    margin: 0;
  }
  :nth-child(1) {
    grid-area: one;
  }
  :nth-child(2) {
    grid-area: two;
  }
  :nth-child(3) {
    grid-area: three;
  }
}

.vidwrap {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  iframe {
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.illustrationbutton {
  display: block;
  margin: 30px auto 30px;
  background: none;
  h1 {
    color: $line-color;
    position: absolute;
    margin: 10px;
    font-size: 3rem;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 1;
    background-color: white;
  }
  p {
    top: 150px;
    position: relative;
    color: $line-color;
  }
  img {
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
  }
}

.illustrationbutton:hover {
  opacity: 0.7;
  transition: 0.3s;
  background: none;
}

@media only screen and (min-width: 700px) {
  .blogsect {
    grid-template-areas: "one two";
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto;
  }
}

@media only screen and (min-width: 960px) {
  .animsect {
    grid-template-areas: "one two" "one three";
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr auto;
  }
}
