$base-text: black;
$dark-grey: #282828;
$background-color: #f7f7f7;
$translucent-grey: rgba(234, 234, 234, 0.95);
$line-color: black;
$accent-one: #ffc300;
$accent-two: #ff0064;
$shadow: #e3ff00;
$halftone: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAF0lEQVQYlWNgYGD4D8U4AUEF1Af0dhMAOBcH+bmFHC0AAAAASUVORK5CYII=);
