<div class="background"></div>

{% if title =="blackbit" %}
<style>
    .background {background-color:red;}
</style>
{% elif title =="about" %}
<style>
    .background {background-color:blue;}
</style>
{% else %}
<style>
    .background {background-color:#fafafa;}
</style>
{% endif %}
