<style>
{% if background %}
{% if background-image =="true" %}
    body {background-image: url("{{ background }}");}
{% else %}
    body {background-color:{{ background }};
{% endif %}
{% else %}
    body {background-color:#fafafa;}
{% endif %}
</style>
