
<div class="comicnav">

{% set previousPost = collections.cinnamon | getPreviousCollectionItem(page) %}
{% set nextPost = collections.cinnamon | getNextCollectionItem(page) %}

{% for entry in collections.cinnamon | reverse | head(-1) %}
{% if page.url == entry.url %}
<img src="/img/cinnamon-nav-first-disabled.png"/>
{% else %}
<a href="{{ entry.url }}"><img src="/img/cinnamon-nav-first-hover.png"/></a>
{% endif %}
{% endfor %}

{% if previousPost %}
<a href="{{ previousPost.url }}"><img src="/img/cinnamon-nav-back-hover.png"/></a>
{% else %}
<img src="/img/cinnamon-nav-back-disabled.png"/>
{% endif %}

<div class="minicomicnav">
<img src="/img/logo/cinnamonnavlogo.png"/>
</div>

{% if nextPost %}
<a href="{{ nextPost.url }}"><img src="/img/cinnamon-nav-forward-hover.png"/></a>
{% else %}
<img src="/img/cinnamon-nav-forward-disabled.png"/>
{% endif %}

{% for entry in collections.cinnamon | head(-1) %}
{% if page.url == entry.url %}
<img src="/img/cinnamon-nav-latest-disabled.png"/>
{% else %}
<a href="{{ entry.url }}"><img src="/img/cinnamon-nav-latest-hover.png"/></a>
{% endif %}
{% endfor %}

</div>
<div class="minicomicnav">
<select id="page select" onchange="location = this.value;">
  <option value="">PAGE SELECT</option>
  {% for entry in collections.cinnamon %}
  <option value="{{ entry.url }}">{{ entry.data.title }} {{ entry.data.chapter }}.{{ entry.data.pagenumber }}</option>
  {% endfor %}
</select>
</div>