<ol reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in pagelist | reverse %}
  <li class="postlist-item {% if post.url == url %} postlist-item-active{% endif %}">
    <a style="" href="{{ post.url | url }}" class="postlist-link postpanel">{% if post.data.title %}{{ post.data.title }} {{ post.data.chapter }}.{{ post.data.pagenumber }}{% else %}<code>{{ post.url }}</code>{% endif %}
    </a>
    
    
    <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
  </li>
{% endfor %}
</ol>
