
<div class="comicnav mangapanel">

{% set previousPost = pagelist | getPreviousCollectionItem(page) %}
{% set nextPost = pagelist | getNextCollectionItem(page) %}

{% for entry in pagelist | reverse | head(-1) %}
{% if page.url == entry.url %}
<img src="/img/ui/nav-first-disabled.png"/>
{% else %}
<a class="navButton" href="{{ entry.url }}"><img src="/img/ui/nav-first.png"/></a>
{% endif %}
{% endfor %}

{% if previousPost %}
<a id="prevbutton" class="navButton" href="{{ previousPost.url }}"><img src="/img/ui/nav-back.png"/></a>
{% else %}
<img src="/img/ui/nav-back-disabled.png"/>
{% endif %}

<div class="minicomicnav">
<select id="page select" onchange="location = this.value;">
  <option value="">PAGE SELECT</option>
  {% for entry in pagelist %}
  <option value="{{ entry.url }}">{{ entry.data.title }} {{ entry.data.chapter }}.{{ entry.data.pagenumber }}</option>
  {% endfor %}
</select>
</div>

{% if nextPost %}
<a id="nextbutton" class="navButton" href="{{ nextPost.url }}"><img src="/img/ui/nav-forward.png"/></a>
{% else %}
<img src="/img/ui/nav-forward-disabled.png"/>
{% endif %}

{% for entry in pagelist | head(-1) %}
{% if page.url == entry.url %}
<img src="/img/ui/nav-last-disabled.png"/>
{% else %}
<a class="navButton" href="{{ entry.url }}"><img src="/img/ui/nav-last.png"/></a>
{% endif %}
{% endfor %}
</div>
<center><p style="background-color:#f0f0f0; width:auto; border-radius:5px;">alt navigation: arrow keys / swiping on touch </p></center>
<div class="minicomicnav">

</div>

<style>
.comicnav { background-color:  rgba(234, 234, 234, 0.95);}
</style>