<div class="container">
<div class="footergrid">
<div>
  <img class="pfp" src="/img/pfp.jpg"/>
  <h1>// about</h1>
   <hr>
  <p>I'm Victoria Douglas, a nonbinary artist and creator from Columbus, Ohio. My work is science fiction escapism, and I'm cool with that. I'm a proud alumni of the Columbus College of Art and Design, and I'm super down to start new projects with other passionate creators. Don't hesitate to reach out.</p>
  <ul>
    <li>
      <a target="_blank" href="/Victoria-Douglas-Resume-CV-2020.pdf">Resume/CV</a>
    </li>
  <li>
      <a href="mailto:victoria.blackbit.com">Email</a>
    </li>

  </ul>
  <div class="socialjunk">
      <a class="socialicon" href="https://www.instagram.com/blackbit.exe/"><i class="fab fa-instagram"></i></a>
      <a class="socialicon" href="https://vimeo.com/blackbit"><i class="fab fa-vimeo-v"></i></a>
      <a class="socialicon" href="https://github.com/victoriadouglas"><i class="fab fa-github-alt"></i></a>
    </div>
  
</div>
  <div class="morelinks"> 
  <h1>More Links</h1>
  <p>(not worthy of the navbar) ☹️☹️</p>
  <hr>
  <ul>
  <li>
  <a href="/butts/">A page full of just butts</a>
  </li>
  <li>
  <a href="https://github.com/victoriadouglas/BLACKBIT-Independent">My Entire Site's source code</a>
  </li>
  <li>
  <a href="https://soundcloud.com/oxygenwatch726">My Mixtape</a>
  </li>
  </ul>
  </div>
</div>
</div>


<h1 style="background:none; margin:100px auto 100px;" class="heading">Blackbit</h1>
<center><p style="width:960px; max-width:95vw;">🤖🤖🤖 © Victoria Douglas 2020 // Website built with <a href="https://www.11ty.dev/">Eleventy</a> ❤️❤️❤️</p></center>