<!--<div class="container">
  <div class="morelinks"> 
  <h1>More Links</h1>
  <p>(not worthy of the navbar) ☹️☹️</p>
  <hr>
  <ul>
  <li>
  <a href="/butts/">A page full of just butts</a>
  </li>
  <li>
  <a href="https://github.com/victoriadouglas/BLACKBIT-Independent">My Entire Site's source code</a>
  </li>
  <li>
  <a href="https://soundcloud.com/oxygenwatch726">My Mixtape</a>
  </li>
    <li>
  <a href="https://vimeo.com/378111470">Animated Shorts</a>
  </li>
  </ul>
  </div>
</div>

</div>
-->

<img style="max-width:90vw; display: block; margin-left: auto; margin-right: auto; width:100%" src="/img/victoriadouglasunder.png"/>
<center><p style="width:960px; max-width:95vw;">🤖🤖🤖 © Victoria Douglas 2024 // Website built with <a href="https://www.11ty.dev/">Eleventy</a> ❤️❤️❤️</p></center>