<div class="container">
<div class="footergrid">
<div>
  <img class="pfp" src="/img/pfp.jpg"/>
  <h1>// about</h1>
   <hr>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="/">Aenean</a> lacinia, leo sed auctor facilisis, nulla metus tincidunt velit, sed suscipit est quam in dui. Vestibulum suscipit sem et mauris venenatis pharetra. Mauris tempor nisl sed nunc gravida faucibus. Suspendisse et leo a nibh ullamcorper ultricies. </p>
  <ul>
    <li>
      <a href="/resume/">Resume/CV</a>
    </li>
  <li>
      <a href="mailto:victoria.blackbit.com">Email</a>
    </li>

  </ul>
  <div class="socialjunk">
      <a class="socialicon" href="https://www.instagram.com/blackbit.exe/"><i class="fab fa-instagram"></i></a>
      <a class="socialicon" href="https://vimeo.com/blackbit"><i class="fab fa-vimeo-v"></i></a>
      <a class="socialicon" href="https://github.com/victoriadouglas"><i class="fab fa-github-alt"></i></a>
    </div>
  
</div>
  <div class="morelinks"> 
  <h1>More Links</h1>
  <p>(not worthy of the navbar) ☹️☹️</p>
  <hr>
  <ul>
  <li>
  <a href="/butts/">A page full of just butts</a>
  </li>
  <li>
  <a href="https://github.com/victoriadouglas/BLACKBIT-Independent">My Entire Site's source code</a>
  </li>
  <li>
  <a href="https://soundcloud.com/oxygenwatch726">My Mixtape</a>
  </li>
  </ul>
  </div>
</div>
</div>


<h1 style="background:none; margin:100px auto 100px;" class="heading">Blackbit</h1>