<div class="bigcontainer">
{% if titleimage %}
    <img class="logotitle" src="{{ titleimage }}"/>
{% else %}
    <h1 class="heading heading--stroke heading--halftone">{{ title }}</h1>
{% endif %}
</div>