<header>
      
      <div class="navbar" id="mynavbar">
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <a name="hamburger" href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
      </a>
      <div class="navstuff" id="navcollapse">

          <a href="/" class="logoStyling">
          <img src="/img/blackbitLogo.png"></img>
          </a>

        <br>
      {%- for entry in collections.all | eleventyNavigation %}<a class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>{%- endfor %}
  <a name="instagram link" class="nav-item" href="https://www.instagram.com/blackbit.exe/">Instagram</a>
  <a name="bluesky link" class="nav-item" href="https://bsky.app/profile/blackbit.bsky.social">Bluesky</a>
  <a name="vimeo link" class="nav-item" href="https://victoriadouglas.itch.io/">Itch.io</a>
  <a name="github link" class="nav-item" href="https://github.com/victoriadouglas/BLACKBIT-Independent">Github</a>
  <a name="printables link" class="nav-item" href="https://www.printables.com/@halftone_1003674">Printables</a>
  <a name="vimeo link" class="nav-item" href="https://vimeo.com/blackbit">Vimeo</a>
      
      <a class="nav-item" href="/oubliette">/</a>
      </div> 
      
  
    </header>