<header>
      
      <div class="navbar" id="mynavbar">
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <a name="hamburger" href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
      </a>
      <div class="navstuff" id="navcollapse">
      
        <div class="logodiv">
          {% include "components/logo.njk" %}
        </div>
        <br>
      {%- for entry in collections.all | eleventyNavigation %}<a class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>{%- endfor %}
  <a name="instagram link" class="nav-item" href="https://www.instagram.com/blackbit.exe/">Instagram</a>
      <a name="vimeo link" class="nav-item" href="https://vimeo.com/blackbit">vimeo</a>
      <a name="github link" class="nav-item" href="https://github.com/victoriadouglas/BLACKBIT-Independent">Github</a>
      <a class="nav-item" href="/oubliette">+_+</a>
      </div> 
      <img class="headerBlackbit" src="/img/blackbitLogo.png"></img>
  
    </header>