<a class="quickbutton" href="/charactergen">
  <h2>Random Character Generator</h2>
  <p>A Javacript widget for your next DnD sesh.</p>
</a>

<a class="quickbutton" href="https://victoriadouglas.bigcartel.com/product/poison-pill-anthology">
  <h2>BUY POISON PILL</h2>
  <p>A few copies left of the best comic anthology around.</p>
</a>

<a class="quickbutton" href="https://halftonehospital.com">
  <h2>Free Resources from Halftone Hospital</h2>
  <p>Open use digital tools for cartoonists and illustrators.</p>
</a>

<a class="quickbutton" href="https://victoriadouglas.itch.io/rockpunch">
  <h2>Play ROCKPUNCH!</h2>
  <p> The 2D physics platformer with NO movement options except to PUNCH!</p>
</a>