<div class="paneled bordered">
  <h3>Socials</h2>
  <div class="row">
    <div class="three columns">
      <a class="" href="/charactergen">
        <img src=""/> hmm
      </a>
    </div>
    <div class="three columns">
    <a class="" href="/charactergen">
        <img src=""/> hmm
      </a>
    </div>
    <div class="three columns">
    <a class="" href="/charactergen">
        <img src=""/> hmm
      </a>
    </div>
    <div class="three columns">
    <a class="" href="/charactergen">
        <img src=""/> hmm
      </a>
    </div>

  </div>
</div>

<a class="quickbutton" href="/charactergen">
  <h3>Random Character Generator</h3>
  <p>A Javacript widget for your next DnD sesh.</p>
</a>