<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/all.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <script src="https://unpkg.com/colcade@0/colcade.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <div class="footerseating">
    <div class="notfooter">
    {% include "components/navbar.njk" %}
    {{ content | safe }}


  
    <p class="signature">
    // victoria douglas 2020 ++
    </p>
    {% include "components/accent.njk" %}

    <style>
    {% if backgroundimage %}
    body {background-image: url("{{ backgroundimage }}");}
    {% elif backgroundcolor %}
    body {background-color:#{{ backgroundcolor }};
    {% else %}
    body {background-color: #f0f0f0;
    {% endif %}
    {% if navbarcolor %}
    .navstuff {background-color: {{ navbarcolor }};}
      {% else %}
      .navstuff {background: none;}
      {% endif %}
    </style>
  </div>


    <footer class="footer">
    {% include "components/footer.njk" %}
    <script>
function myFunction() {
  var x = document.getElementById("navcollapse");
  if (x.className === "navstuff") {
    x.className += " responsive";
  } else {
    x.className = "navstuff";
  }
}
</script>
    </footer>
    <!-- Current page: {{ page.url | url }} -->
    </div>
  </body>
</html>
