<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

  </head>
  <body>
    <div id="swup">
    {% include "components/navbar.njk" %}
    <main class="transition-page">
      {{ content | safe }}
    </main>

    <p class="signature">// victoria douglas 2020 ++</p>
    {% include "components/accent.njk" %}

    <style>
    {% if backgroundimage %}
    body {background-image: url("{{ backgroundimage }}");}
    {% elif backgroundcolor %}
    body {background-color:#{{ backgroundcolor }};
    {% else %}
    body {background-color: #f0f0f0;
    {% endif %}
    </style>
    <footer>
    </footer>
      </div>
    <script defer src="/js/swup.min.js"></script>
    <script defer src="/js/transitions.js"></script>
    <script defer src="/js/SwupBodyClassPlugin.min.js"></script>

    <!-- Current page: {{ page.url | url }} -->

  </body>
</html>
