---
layout: layouts/base.njk
titleimage: /img/logo/cinnamonlogo.png
backgroundimage: /img/background/cinnamonbackground2.jpg
navbarcolor: rgba(215, 23, 91, .9)
navlogo: emojicats
---
<main>





<div class="container">
<img class="cinnatitle" style="margin-top:20px;" src="/img/logo/cinnamoncomictitle.png"/>
</div>
<img class="comicpage" src="/img/{{ title }}/{{ chapter }}-{{ pagenumber }}.jpg"/>
<div class="container">
{% include "components/cinnamonnav.njk" %}
<div class="mangapage" style="grid-template-columns: 1fr 5fr;" >
<div class="mangahalftone"></div>
<div class="mangacontent mangapaper">
<h1>{{ title }} {{chapter}}.{{ pagenumber }}</h1>
<p class="datedisplay"> <small>{{ date }}</small> </p>
{{ content | safe }}
</div>
</div>
</div>
</main>
