---
layout: layouts/base.njk
backgroundimage: /img/background/cinnamonbackground2.jpg
navbarcolor: rgb(240, 240, 240)
navlogo: emojicats
---
<main>

{% set comictitle = "/img/logo/cinnamontitle.png" %}
{% set pagelist = collections.cinnamon %}


<!-- Title -->
{% include "components/comictitle.njk" %}


<!-- Comic Page -->
<div class="comicpage" id="comicpage">
<img src="/img/{{ title }}/{{ chapter }}-{{ pagenumber }}.jpg"/>
</div>


<div class="container">
<!-- Comic Nav -->
{% include "components/comicsnav.njk" %}


<!-- Journal -->
<div class="mangapage" style="grid-template-columns: 1fr 5fr;" >
<div class="mangahalftone"></div>
<div class="mangacontent mangapaper">
<h1>{{ title }} {{chapter}}.{{ pagenumber }}</h1>
<p class="datedisplay"> <small>{{ date }}</small> </p>
{{ content | safe }}
</div>
</div>


<!-- Disqus Comments -->
{% include "components/disquscomments.njk" %}
</main>

<!-- Hammer JS Scripts -->
<script type="text/javascript">

var myElement = document.getElementById('comicpage');

var hammertime = new Hammer(myElement);
hammertime.on('swiperight', function(ev) {
	alert("panright!");
});
hammertime.on('swipeleft', function(ev) {
	alert("panleft!");
});

</script>
