---
layout: layouts/base.njk
titleimage: /img/logo/cinnamonlogo.png
backgroundimage: /img/background/cinnamonbackground.jpg
navlogo: emojicats
---
<main>





{% include "components/cinnamonnav.njk" %}
<div class="testcomicnav"></div>
<img class="comicpage" src="/img/{{ title }}/{{ chapter }}-{{ pagenumber }}.jpg"/>
{% include "components/cinnamonnav.njk" %}
<div class="mangapage" style="grid-template-columns: 1fr 5fr;" >
<div class="mangahalftone"></div>
<div class="mangacontent mangapaper">
<h1>{{ title }} {{chapter}}.{{ pagenumber }}</h1>
<p class="datedisplay"> <small>{{ date }}</small> </p>
{{ content | safe }}
</div>
</div>
</main>
