---
layout: layouts/base.njk
---
<main>
{% include "components/header.njk" %}
<div class="testcomicnav"></div>
<img class="comicpage" src="/img/{{ title }}/{{ chapter }}-{{ pagenumber }}.jpg"/>
<h1>{{ title }}</h1>
{{ content | safe }}
</main>
