---
layout: layouts/base.njk
---
    {% if titleimage %}
    <img class="logotitle" src="{{ titleimage }}"/>
    {% else %}
{% include "components/header.njk" %}  
    {% endif %}
<main>
{{ content | safe }}
</main>

<p><a href="{{ '/' | url }}">← Home</a></p>