---
layout: layouts/base.njk
---
<main>
<div class="container">
<h1>{{ title }}</h1>

{{ content | safe }}

<p><a href="{{ '/' | url }}">← Home</a></p>
{% include "components/disquscomments.njk" %}
</div>

</main>
