---
layout: layouts/base.njk
---

<main>
{% include "components/headerhome.njk" %}
<div class="container">
    <h2 class="center"> Quick Links </h2>
<div class="quicklinks">
{{ content | safe }}
</div></div>
</main>