---
layout: layouts/base.njk
titleimage: /img/logo/robotologo.png
navlogo: emojiskull
---
<main>





<div class="container">
<img class="cinnatitle" style="margin-top:20px;" src="/img/logo/robotologo.png"/>
</div>
<img style="-webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.8);
-moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.8);
box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.8);"class="comicpage" src="/img/{{ title }}/{{ chapter }}-{{ pagenumber }}.jpg"/>
<div class="container">
{% include "components/robotonav.njk" %}
<div class="mangapage" style="grid-template-columns: 1fr 5fr;" >
<div class="mangahalftone"></div>
<div class="mangacontent mangapaper">
<h1>{{ title }} {{chapter}}.{{ pagenumber }}</h1>
<p class="datedisplay"> <small>{{ date }}</small> </p>
{{ content | safe }}
</div>
</div>
</div>
</main>
