---
layout: layouts/base.njk
navlogo: emojiskull
---
<main>


{% set comictitle = "/img/logo/robototitle.png" %}
{% set pagelist = collections.roboto %}

<!-- Title -->
{% include "components/comictitle.njk" %}

<!-- Comic Page -->
<img style="-webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.8);
-moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.8);
box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.8);"class="comicpage" src="/img/{{ title }}/{{ chapter }}-{{ pagenumber }}.jpg"/>
<div class="container">

<!-- Comic Nav -->
{% include "components/comicsnav.njk" %}


<!-- Journal -->
<div class="mangapage" style="grid-template-columns: 1fr 5fr;" >
<div class="mangahalftone"></div>
<div class="mangacontent mangapaper">
<h1>{{ title }} {{chapter}}.{{ pagenumber }}</h1>
<p class="datedisplay"> <small>{{ date }}</small> </p>
{{ content | safe }}
</div>
</div>

<!-- Disqus Comments -->
{% include "components/disquscomments.njk" %}

</main>
