---
layout: layouts/page.njk
title: Templar Vitae
titleimage: /img/comics/templar/logo.jpg
comicDescription: Real Shit.
---
<div class="container">
{% set pagelist = collections.templar | reverse %}
{% set pagelistCounter = collections.templar | length %}
<p>{{ comicDescription }}</p>
{% include "components/comicslist.njk" %}
</div>
