---
layout: layouts/page.njk
title: About
description:
backgroundcolor: dbdbdb
permalink: /about/
eleventyNavigation:
  key: About
  order: 6
---


<div class="container">

<h2 class="">Update in progress I swear.</h2>
<p>Cosby sweater plaid shabby chic kitsch pour-over ex. Try-hard fanny pack mumblecore cornhole cray scenester. Assumenda narwhal occupy, Blue Bottle nihil culpa fingerstache. Meggings kogi vinyl meh, food truck banh mi Etsy magna 90's duis typewriter banjo organic leggings Vice.</p><h3 class="">Update in progress I swear.</h3>
</div>
