---
layout: layouts/base.njk
title: Comicz
description:
navlogo: emojipencils
backgroundcolor: dbdbdb
permalink: /comicz/
eleventyNavigation:
  key: Comics
  order: 1
---

{% include "components/header.njk" %}


<div class="container">
<a name="TemplarVitae link" style="margin: 50px auto;display: block;" class="newswidget" href="/templar/episode1/page1/"><img alt="link to Templar Vitae" src="/img/logo/templartitle.jpg"/></a>

<a name="Cinnamon link" style="margin: 50px auto;display: block;" class="newswidget" href="https://allhailbehemoth.com/collections/comics/cinnamon"><img alt="link to Cinnamon" src="/img/logo/cinnamonyellowtitle.jpg"/></a>

<a name="Roboto link" style="margin: 50px auto;display: block;" class="newswidget" href="/roboto/episode1/page1/"><img alt="link to Roboto" src="/img/logo/robototitle.png"/></a>

</div>