---
layout: layouts/page.njk
title: Comicz
description:
navmoji: ✒️✒️✒️
backgroundcolor: dbdbdb
permalink: /comicz/
eleventyNavigation:
  key: Comics
  order: 1
---


<div class="container">

<h2 class="paneled">Update in progress I swear.</h2>
</div>