---
layout: layouts/page.njk
title: Games
description:
backgroundcolor: dbdbdb
permalink: /games/
---
<!--
eleventyNavigation:
  key: Games
  order: 4
  -->

<div class="container">
  <h2>Play Now:</h2>
  <div class="paneled verticalcard">
    <a href="https://victoriadouglas.itch.io/rockpunch"><img src="/img/logo/rockpunchlogo.webp"/></a>
    <h4 style="margin-bottom:0px;">
            Rockpunch (2025)
    </h4>
    <p >
            RockPunch is a 2D physics platformer with NO movement options except to PUNCH!
    </p>
    <p >
            A (slightly) more accessible "foddian" game, pulling inspiration from rage games and precision platformers like Getting Over it, Get to Work, QWOP, I Want to Be the Guy, and Super Meat Boy. Navigate the world with very little direct control, and find your zen in the garden of RockPunch.
    </p>
    <p >
            There are three organic routes to uncover, a speedrun timer, and all sorts of play statistics to keep track of.
    </p>
    <a class="button button-primary" href="https://victoriadouglas.itch.io/rockpunch">Play on Itch.io</a>
  </div>

  <div class="paneled verticalcard">
    <a href="https://victoriadouglas.itch.io/killcat-the-prisoner"><img src="/img/logo/killcatlogo.webp"/></a>
    <h2 style="margin-bottom:0px;">
            Killcat the Prisoner (2024)
    </h2>
    <p >
            A tamagotchi-like microgame made alongside my game dev students at the Columbus College of Art and Design.
    </p>
    <p >
            A (slightly) more accessible "foddian" game, pulling inspiration from rage games and precision platformers like Getting Over it, Get to Work, QWOP, I Want to Be the Guy, and Super Meat Boy. Navigate the world with very little direct control, and find your zen in the garden of RockPunch.
    </p>
    <p >
            There are three organic routes to uncover, a speedrun timer, and all sorts of play statistics to keep track of.
    </p>
    <a class="button button-primary" href="https://victoriadouglas.itch.io/killcat-the-prisoner">Play on Itch.io</a>
  </div>
</div>
