---
layout: layouts/page.njk
title: Games
description:
backgroundcolor: dbdbdb
permalink: /games/
eleventyNavigation:
  key: Games
  order: 3
---


<div class="container">

<div class="paneled">
                <a href="https://victoriadouglas.itch.io/rockpunch"><img src="/img/rockpunch.png"/></a>
                <h2 style="margin-bottom:0px;">
                        Rockpunch (2025)
                </h2>
                <p >
                        RockPunch is a 2D physics platformer with NO movement options except to PUNCH!
                </p>
                <p >
                        A (slightly) more accessible "foddian" game, pulling inspiration from rage games and precision platformers like Getting Over it, Get to Work, QWOP, I Want to Be the Guy, and Super Meat Boy. Navigate the world with very little direct control, and find your zen in the garden of RockPunch.
                </p>
                <p >
                        There are three organic routes to uncover, a speedrun timer, and all sorts of play statistics to keep track of.
                </p>
                <a class="button button-primary" href="https://victoriadouglas.itch.io/rockpunch">Play on Itch.io</a>
        </div>
