---
layout: layouts/base.njk
title: Sketchbook
description:
accentColor: f7f7f7
backgroundcolor: ff4760
permalink: /illustration/
eleventyNavigation:
  key: Sketchbook
  order: 4.5
sketches:
  - FINAL
  - 19
  - armsforPrint
  - 25
  - smashed
  - 2
  - 3
  - katsu
  - 4
  - Claymoreo-copy
  - 5
  - 6
  - Cyber
  - 7
  - chromo
  - 8
  - Blue-ice
  - 9
  - walls
  - 10
  - worried
  - 11
  - closet--photo
  - 12
  - Batman
  - 13
  - hans
  - 14
  - 15
  - 16
  - 17
  - 18
  - 20
  - 21
  - 22
  - 23
  - 24  
  - 1

---

{% include "components/header.njk" %}

<div class="container">
  <div class="paneled" style="padding:20px;">
    <p>A selection of personal work, made for fun and self-indulgence circa 2020-2025. Find more on Instragram people that's still where people are.</p>
    <button class="button" href="https://www.instagram.com/blackbit.exe/">The Gram</button>
    </div>
</div>
<div class="fullcontainer">
<div class="grid">
<div class="grid-col grid-col--1">
</div>
<div class="grid-col grid-col--2">
</div>
<div class="grid-col grid-col--3">
</div>
<div class="grid-col grid-col--4">
</div>
{% for item in sketches %}
<div class="grid-item imagediv">
      <img class="imagecard" src="/img/sketches/{{ item }}.jpg"/>
      </div>
{% endfor %}
</div>
</div>
<script>
// selector string as first argument
var colc = new Colcade( '.grid', {
  columns: '.grid-col',
  items: '.grid-item'
});
</script>