---
layout: layouts/base.njk
title: Illustr8
description: Single serving narratives.
logo: emojipencils
backgroundcolor: 878787
permalink: /illustration/
eleventyNavigation:
  key: Illustration
  order: 3
sketches:
  - 2
  - 3
  - 4
  - 5
  - 6
  - 7
  - 8
  - 9
  - 10
  - 11
  - 12
  - 13
  - 14
  - 15
  - 16
  - 17
  - 18
  - 19
  - 20
  - 21
  - 22
  - 23
  - 24  
  - 1

---

{% include "components/header.njk" %}


<div class="fullcontainer">
<div class="grid">
<div class="grid-col grid-col--1">
</div>
<div class="grid-col grid-col--2">
</div>
<div class="grid-col grid-col--3">
</div>
<div class="grid-col grid-col--4">
</div>
{% for item in sketches %}
<div class="grid-item imagediv">
      <img class="imagecard" src="/img/sketches/{{ item }}.jpg"/>
      </div>
{% endfor %}
</div>
</div>
<script>
// selector string as first argument
var colc = new Colcade( '.grid', {
  columns: '.grid-col',
  items: '.grid-item'
});
</script>