---
layout: layouts/quicklinks.njk
title: Quick Links
titleimage: /img/blackdouglasboth.png
eleventyNavigation:
  key: QuickLinks
  order: 5
permalink: /quicklinks/
navmoji: ⭐⭐⭐
---

<a href="#">Gonna</a>
<a href="#">Fill These</a>
<a href="#">and then</a>
<a href="#">delete</a>
<a href="#">my linktree</a>