---
layout: layouts/page.njk
title: Quick Links
eleventyNavigation:
  key: QuickLinks
  order: 0
permalink: /quicklinks/
navmoji: ⭐⭐⭐
---
<div class="container">
<a class="quickbutton" href="/charactergen">
  <h2>Random Character Generator</h2>
  <p>A Javacript widget for your next DnD sesh.</p>
</a>
</div>