---
layout: layouts/quicklinks.njk
title: Quick Links
titleimage: /img/blackdouglasboth.png
navlogo: emojicats
eleventyNavigation:
  key: QuickLinks
  order: 5
---

<a href="#">Buy Here</a>
<a href="#">Buy Here</a>
<a href="#">Buy Here</a>
<a href="#">Buy Here</a>
<a href="#">Buy Here</a>