---
layout: layouts/home.njk
permalink: /posts/
navlogo: emojiskull
eleventyNavigation:
  key: blog
  order: 7
---

<h1>Archive</h1>

{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}
