---
layout: layouts/page.njk
title: Blog Archive ☻
accentColor: eba32f
description: I ramble on and on, in perpetum.
permalink: /posts/
eleventyNavigation:
  key: Blog
  order: 4

---
<div class="container">
{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}
</div>