---
layout: layouts/home.njk
titleimage: /img/blackdouglasboth.png
title: blackbit
description: independent comics & illustration by victoria douglas
navmoji: 🤬🤬🤬
---
<div class="containerstart">
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxx Intro xxxxxxxxxxxxxxxxxxxxxxxxxx -->

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxx Comics xxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!--
<h1>// All Comics:</h1>
<a name="cinnamon link" class="newswidget" href="/cinnamon/episode1/page1/"><img alt="read Cinnamon comic now"src="/img/news.jpg"/></a>
<a name="roboto link" class="newswidget" href="/roboto/episode1/page1/"><img alt="read Roboto comic now"src="/img/roboto.jpg"/></a>
-->

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxx Top ad xxxxxxxxxxxxxxxxxxxxxxxxxx -->
<div class="container">
        <h2 class="">the comics and illustration of victoria douglas</h2>

        



        <img class="paneled" src="/img/profilesting.png"/>
        <div class="bordered">
                <h2 style="margin-bottom:0px;">victoria douglas (they/them)</h2>
                <p >is a nonbinary cartoonist from the corn-pocked midwest. They are the creator of the award winning comic CINNAMON (among others), the recipient of the 2022 Cartoon Crossroads Emerging Talent Award, and an instructor at the Columbus College of Art and Design. They are also the mad scientist responsible for HALFTONE HOSPITAL, a growing repository of free and open tools for cartoonists and illustrators.</p>
                <p> They maintain and abuse a 3D printer, moonlight as a muralist, scream at the moon about open source software, and care for 3 wonderful cats.</p>
                <a class="button button-primary" href="/about">More About the Bitch</a>
        </div>

        <h2 class="paneled" style="font-size:5rem; margin-bottom:50px;">a selection of their books:</h2>


<div class="row">
<div class="one-half column">
<img class="bookfloat" src="/img/poisonpill.webp"/>
</div>
<div class="one-half column">

<h2 style="margin-bottom:0px;">poison pill (anthology)</h2>
<h3>(black/white, 62 pages)</h3>
<div class="">
<p>THE premiere all-women comics anthology from the best in the game. Led by the inimitable MS HARKESS, and featuring work from CAROLINE CASH, HEATHER LOASE, SAM SZABO, AUDRA STANG, and VICTORIA DOUGLAS. It's a goddamn treasure. </p>
<p> "Poison Pill is a mission statement, a concerted attempt at intimate and challenging storytelling, and a strong visual buffet of different styles." <br><br>- Rob Clough, HighLow Comics
        </p>
<a class="button button-primary" href="https://victoriadouglas.bigcartel.com/product/poison-pill-anthology">Buy Here</a>
</div>
</div>
</div>

<div class="row">
        <div class="one-half column" style="padding:0;" >

        <img class="bookfloat" src="/img/bibliobook.webp"/>
        </div>

<div class="one-half column">

<h2 style="margin-bottom:0px;">biblioware: comix to update ur phone to</h2>
<h3>(black/white, 64 pages)</h3>
<div class="">
<p> Disposable (non)fiction and collected shorts from an anxious millenial. Technological detritus, not an editor in sight. Anything and everything made it into this book, with no reservations.</p>
<p>Penis, boobies, religious trauma, fetish art, a first date with Shadow the Hedgehog, objective truths.</p>
<a class="button button-primary" href="#">Read Here once my lazy ass uploads it <3</a>
</div>
</div>
</div>


<div class="row">
<div class="one-half column">
<img class="bookfloat" src="/img/cinnamonbook.webp"/>
</div>
<div class="one-half column">
<h2 style="margin-bottom:0px;">cinnamon (trade paperback)</h2>
<h3>(Color, 108 pages)</h3>
<div class="">
<p>Oh yeah, baby, it's the (REMMI-award winning) book that started it all. CINNAMON started as my final project in my senior year of undergrad. I'll go back and make more one day, I swear. I love that damn cat.</p>
<p>"Cinnamon is just your perfectly ordinary, average housecat. At least until we get a glimpse of the world through her eyes! Countertops become skyscrapers, cat toys become biker gangs, and perilous giant robots rampage on the daily! Get dropped kicked onto the action packed streets of Big Kitchen City, as she fights the dark forces that dare to keep her from her favorite treat... Catnip!"</p>
<p>Find this book out in the wild, it pops up from time to time. Link goes to Thriftbooks, but it's not currently in print.</p>
<a class="button button-primary" href="https://www.thriftbooks.com/w/cinnamon_victoria-douglas/29338531/#edition=60286117&idiq=47343912">Buy Here</a>
</div>
</div>
</div>

<a class="quickbutton" href="/comicz">Or check out ALL the comix.</a>




<!-- xxxxxxxxxxxxxxxxxxxxxxxxxx Recent Blogs xxxxxxxxxxxxxxxxxxxxxxxxxx -->
 <img class="" style="padding-top:50px;" src="/img/sword.png"/>



        <div class="bordered">
              <h2 class="paneled">Latest Blogs</h2>
{% set postslist = collections.posts | head(-5) %}
{% set postslistCounter = collections.posts | length %}
{% include "components/postslist.njk" %}
<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
                
        </div>





<div class="breaker"></div>
<h2 class="center paneled"> a little more about halftone hospital</h2>
<div class="row">
        <div class="one-half column">
                <img style="width:300px; float:right;" src="/img/hhlogo.webp"/>
        </div>
        <div class="one-half column paneled">
                <p>is a nonbinary cartoonist from the corn-pocked midwest. They are the creator of the award winning comic CINNAMON (among others), the recipient of the 2022 Cartoon Crossroads Emerging Talent Award, and an instructor at the Columbus College of Art and Design. They are also the mad scientist responsible for HALFTONE HOSPITAL, a growing repository of free and open tools for cartoonists and illustrators.</p>
                <a class="button button-primary" href="https://halftonehospital.com">Check it out!</a>
        </div>
</div>




<!-- xxxxxxxxxxxxxxxxxxxxxxxxxx Bits xxxxxxxxxxxxxxxxxxxxxxxxxx 
<div style="display:flex">
<div style="padding: 10px">
        <a name="halftonehospital link" style="margin: 50px auto;display: block;" class="newswidget" href="https://halftonehospital.com"><img alt="link to halftonehospital" src="/img/hhsquare.jpg"/></a>

</div>
<div style="padding: 10px">
        <a name="github link" style="margin: 50px auto;display: block;" class="newswidget" href="https://github.com/victoriadouglas/BLACKBIT-Independent"><img alt="link to github" src="/img/githubsquare.jpg"/></a>

</div>
</div>
-->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxx Github xxxxxxxxxxxxxxxxxxxxxxxxxx 
<a name="github link" style="margin: 50px auto;display: block;" class="newswidget" href="https://github.com/victoriadouglas/BLACKBIT-Independent"><img alt="link to github" src="/img/githubbanner.jpg"/></a>

<img alt="sword" style=" margin:100px auto;" src="/img/sword.png"/>
-->


<!-- xxxxxxxxxxxxxxxxxxxxxxxxxx Manifesto xxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!--
<div style="width: 100%;">
<div style="width: 450px; max-width: 100%; margin: 50px auto;">
<h1>// The Blackbit Manifesto</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vulputate mauris sit amet leo porttitor, blandit luctus ex aliquet. Donec quis risus leo. Nulla facilisi. Quisque finibus viverra velit, vel maximus lacus congue sodales. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur ac lectus lacinia, suscipit enim vitae, blandit turpis. Duis a sodales est, sodales blandit nisi. Nunc convallis sit amet quam eu vehicula. Ut aliquam nisi id urna maximus rutrum. Etiam in dui molestie, fermentum diam in, ullamcorper sapien. </p>
</div>
</div>
-->
</div>
</div>

<a style="opacity:0;" rel="me" href="https://mastodon.art/@victoriadouglas">Mastodon</a>
</div>
