---
layout: layouts/page.njk
title: blackbit
description: independent comics & illustration by victoria douglas
navlogo: emojiskull
---
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxx Intro xxxxxxxxxxxxxxxxxxxxxxxxxx -->

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxx Comics xxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!--
<h1>// All Comics:</h1>
<a name="cinnamon link" class="newswidget" href="/cinnamon/episode1/page1/"><img alt="read Cinnamon comic now"src="/img/news.jpg"/></a>
<a name="roboto link" class="newswidget" href="/roboto/episode1/page1/"><img alt="read Roboto comic now"src="/img/roboto.jpg"/></a>
-->

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxx Top ad xxxxxxxxxxxxxxxxxxxxxxxxxx -->
<a href="/"><img class="mangapanel" alt="cinnasoon2" src="/img/bibliowaresquare.jpg"/></a>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxx Read xxxxxxxxxxxxxxxxxxxxxxxxxx -->
<div class="container mangapanel" style="padding:25px; background-color:#333333">

<h1 style="padding:0; margin: 0; color: white">// read some comix :)</h1>
<a name="TemplarVitae link" style="margin: 50px auto;display: block;" class="newswidget" href="/templar/episode1/page1/"><img alt="link to Templar Vitae" src="/img/logo/templartitle.jpg"/></a>


<a name="Roboto link" style="margin: 50px auto;display: block;" class="newswidget" href="/roboto/episode1/page1/"><img alt="link to Roboto" src="/img/logo/robototitle.png"/></a>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxx Cinnaad xxxxxxxxxxxxxxxxxxxxxxxxxx -->
<a href="https://allhailbehemoth.com/products/cinnamon-vol-1?_pos=4&_sid=8fb1b56ea&_ss=r"><img class="mangapanel" alt="cinnasoon2" src="/img/cinnasoon2.jpg"/></a>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxx Illustration xxxxxxxxxxxxxxxxxxxxxxxxxx 
<a class="illustrationbutton" href="/illustration/"><h1>Illustrations</h1><img alt="sailor moon redraw" src="/img/sketches/25.jpg"/></a>
-->

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxx Recent Blogs xxxxxxxxxxxxxxxxxxxxxxxxxx -->
<div class="blogsect">
<div class="mangahalftone mangapanel" style="background-image:url(/img/6.jpg); background-size:100% auto;background-position:center;">
</div>
<div class="">
<h1>Latest Blogz</h1>
{% set postslist = collections.posts | head(-5) %}
{% set postslistCounter = collections.posts | length %}
{% include "components/postslist.njk" %}
<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
</div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxx Bits xxxxxxxxxxxxxxxxxxxxxxxxxx -->
<div style="display:flex">
<div style="padding: 10px">
        <a name="halftonehospital link" style="margin: 50px auto;display: block;" class="newswidget" href="https://halftonehospital.com"><img alt="link to halftonehospital" src="/img/hhsquare.jpg"/></a>

</div>
<div style="padding: 10px">
        <a name="github link" style="margin: 50px auto;display: block;" class="newswidget" href="https://github.com/victoriadouglas/BLACKBIT-Independent"><img alt="link to github" src="/img/githubsquare.jpg"/></a>

</div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxx Github xxxxxxxxxxxxxxxxxxxxxxxxxx 
<a name="github link" style="margin: 50px auto;display: block;" class="newswidget" href="https://github.com/victoriadouglas/BLACKBIT-Independent"><img alt="link to github" src="/img/githubbanner.jpg"/></a>

<img alt="sword" style=" margin:100px auto;" src="/img/sword.png"/>
-->


<!-- xxxxxxxxxxxxxxxxxxxxxxxxxx Manifesto xxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!--
<div style="width: 100%;">
<div style="width: 450px; max-width: 100%; margin: 50px auto;">
<h1>// The Blackbit Manifesto</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vulputate mauris sit amet leo porttitor, blandit luctus ex aliquet. Donec quis risus leo. Nulla facilisi. Quisque finibus viverra velit, vel maximus lacus congue sodales. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur ac lectus lacinia, suscipit enim vitae, blandit turpis. Duis a sodales est, sodales blandit nisi. Nunc convallis sit amet quam eu vehicula. Ut aliquam nisi id urna maximus rutrum. Etiam in dui molestie, fermentum diam in, ullamcorper sapien. </p>
</div>
</div>
-->

<a style="opacity:0;" rel="me" href="https://mastodon.art/@victoriadouglas">Mastodon</a>

{% for entry in collections.cinnamon %}
<p>{{ entry.title }}</p>
{% endfor %}
