---
layout: layouts/page.njk
title: Resume/CV
description: I ramble on and on, in perpetum.
permalink: /resume/
navlogo: emojipeach
---
{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}
