---
layout: layouts/comicarchive.njk
title: Cinnamon
navlogo: emojicats
titleimage: /img/logo/cinnamonlogo.png
backgroundimage: /img/background/cinnamonbackground.jpg
---

{% set postslist = collections.cinnamon %}
{% set postslistCounter = collections.cinnamon | length %}
{% include "components/postslist.njk" %}
